h1 {
    color: greenyellow;
    font-size: 60px;
    margin-top: 100px;
 
}

h2 {
    color: greenyellow;
    font-size: 60px;
    justify-content: center;
  
 
}

.Home {
    width: 100%;
    height: 100vh;
    background: url('/src/assets/music.jpg') no-repeat center center/cover;
}

.Home .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Home .top {
    margin-top: 7rem;
}


.Home .bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-bottom: 4rem;
}


.icon {
    color: red;
}

.form {
    display: flex;
    background-color: #ffffffcc;
    color: #000;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.form input[type=text] {
    border: transparent;
    background-color: transparent;
    width: 600px;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
}

.form input[type=text]:focus {
    outline: none;
}

@media screen and (max-width: 940px) {
    .form input[type=text] {
        max-width: 275px;
    }

}




@media screen and (max-width:540px) {
    .Home .container .bottom {
        flex-direction: column;
        align-items: center;
    }
}